.Home-items-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
}

.Home-add-item {
    text-align: center;
    color: #5B8092;
}


.AddItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.AddItem-form {
    display: flex;
    flex-direction: column;
    align-items: center
;}

.AddItem-text-input {
    width: 200px;
    height: 40px;
    font-size: 20px;
}

.AddItem-form-icons {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #323943;
    padding: 5px;
    margin: 10px;
}

.Icon-wrap{
    display: flex;
    align-items: center;
    width: 20%;
    margin: 10px 0;
}

.Icon-wrap > i {
    font-size: 30px;
    margin: 0 5px ;
    color: #5BB5E5;
}

.AddItem-btn {
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #5BB5E5;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}